.content-container {
  position: relative;
  display: flex;
  flex-wrap: wrap; 
  width: 80%;
  margin: auto;
  grid-row: 2;
  grid-column: 2;
}

.swatches {
  /* display: grid; 
  grid-template-columns: 15% auto; 
  grid-template-rows: 80% auto; */
  display: flex;
  flex-direction: column;
  /* position: relative; */
  text-decoration: none;
  width: 175px;
  height: 190px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 2%;
}
.color-name {
  position: relative;
  overflow: hidden;
  color: black;
}
.color-display {
  height: 80%;
  width: 100%;
  position: relative;
  /* grid-row: 1/2; */
}

.color-name {
  display: block;
}