.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* width: 80%; */
  margin: auto;
}

.swatches {
  display: flex;
  width: 200px;
  height: 200px;
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  margin: 2%;
}

.color-display {
  height: 80%;
  width: 100%;
}

.color-name {
  display: block;
}