#clear-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    color: black;
    font-weight: 550;
    justify-content: center;
    margin: 0 auto;
    padding: 1% 10%;
    text-align: center;
    text-decoration: none;
  }
  