.content-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  width: 90%;
  margin: 4% auto;
  grid-row: 2;
  grid-column: 2;
}

.swatches {
  grid-template-rows: 80% auto; 
  /* display: flex;
  flex-direction: column; */
  font-size: 1.2vw;
  text-decoration: none;
  width: 185px;
  height: 200px;
  border-color: lightgray;
  border-style: solid;
  box-shadow:0 0 3px darkgray;
  border-width: 1px;
  border-radius: 5px;
  margin: 2%;
}
.color-name {
  /* position: relative;
  overflow: hidden; */
  margin-top: 2.5%;
  color: black;
}
.color-display {
  height: 80%;
  width: 100%;
  position: relative;
}

.color-name {
  margin-left: 10%;
  display: block;
}

#swatch-detail-view {
  width: 600px;
  height: 400px;
  border-color: rgb(12, 12, 12);
  font-size: 2.5em;
}

#detail-view-container{
  margin: auto;
}