.side-nav {
  background: #d3d3d3;
  box-shadow: 0 0 5px #5d5d5d;
  grid-column: 1;
  grid-row: 2/3;
}

#side-nav-list {
  list-style-type: none;
  margin-top: 25%;
}

#side-nav-list > * {
  font-size: 1.3vw;
  margin-top: 5%;
}

#side-nav-list > li:first-of-type {
  margin-top: 15%;
}

#random-color-button {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color: black;
  font-weight: 550;
  margin-bottom: 1px;
  margin-top: 2px;
  padding: 15%;
  padding: 3% 18%;
  text-decoration: none;
}
