.side-nav {
  background: #d3d3d3;
  box-shadow: 0 0 5px #5d5d5d;
  grid-column: 1;
  grid-row: 2/3;
}

.side-nav-list {
  list-style-type: none;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.side-nav-list > * {
  font-size: 16px;
  margin-top: 10%;
}

.side-nav-list a {
  text-decoration: none;
  color: #2a2a2a;
}

.side-nav-list > li:first-of-type {
  margin-top: 15%;
}

#random-color-button {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  font-weight: 550;
  margin-bottom: 1px;
  margin-top: 2px;
  padding: 6px 6px;
  text-decoration: none;
  width: 120px;
  text-align: center;
}

.side-nav-mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .side-nav {
    display: none;
  }
  .side-nav-mobile {
    display: flex;
    justify-content: center;
  }

  .side-nav-list {
    padding: 0px;
    margin-top: 30px;
  }
}
