body {
  font-family: 'Source Serif Pro', serif;
  color: #2a2a2a;
}

#main-container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: 80px auto;
  min-height: 100vh;
}

@media only screen and (max-width: 800px) {
  #main-container {
    display: flex;
    flex-direction: column;
  }
}
